body {
    font-family: 'Open Sans', sans-serif;
}

.fullmain{
    display: flex;
    flex-wrap: wrap;
}

.block {
    margin: 10px;
    line-height: 30px;
}

.word_1 {
    font-size:170%;
    font-style: italic;
    margin: 10px;
}

.word_2 {
    font-size:170%;
    color: #ed0101;
    text-decoration: none;
    text-transform: uppercase;
    
    margin: 10px;
}

.word_3 {
    font-size:170%;
    background-image: linear-gradient(to left,orange 70%,purple);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 10px;
}

.word_4 {
    font-size:170%;
    color: #d6d90b;
    text-align: center;
    text-decoration: line-through;
    
    margin: 10px;
}

.word_5 {
    font-family: 'Tangerine', serif;
    font-size:170%;
    text-shadow: 4px 4px 4px #aaa;
    margin: 10px;
}

.word_6 {
    color: #26be9d; 
    font-size: 170%; 
    font-weight: bold;
    padding: 20px 0px;
    text-transform: none;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
}
.word_6:hover{
    color: #1500ff; 
}